* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::root {
    --Primary-color: #00c4cc;
    --Secundary-color: #31ffed;
    --Tercer-Color: #03a5ab;
    --Cuarto-color: #3ecbcc;
    --Luz: #6ba9ff;
}

html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.loader {
    width: 100vw;
    height: 100vh;
}

.loader-clip {
    position: absolute;
    width: 100vw;
    height: 49.8vh;
    overflow: clip;
    z-index: 1000;
}

.clip-top {
    top: 0;
    clip-path: inset(0 0 0 0);
    background-color: #03a5ab;
}

.clip-bottom {
    bottom: 0;
    clip-path: inset(0 0 0 0);
    background: #026d70;
}

.clip-center {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;
    /*Esto de aqui hace un espacio central que aun no tiene volumen
     se necesita super poner encima de los demas elementos*/ 
}

.marquee {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200vw;
    color: #fff;
    /* mix-blend-mode: difference; */
    font-size: 16vw;
}

.marquee-container {
    width: 100%;
    padding-top: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Moresby";
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    font-family: "Neue Montreal";
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
}

.container .nav, .container .footer  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2em 4em;
}

.footer {
    background-color: #000;
    color: #fff;
}

.nav {
    background-color: #5895eb;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
}

.nav-items li {
    display: inline-block;
    margin: 20px;
}

.nav-items li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* === === Estilos de las Secciones === ===*/

/* .Hero__Section {
    z-index: 2;
    overflow: hidden;
} */

/* .Hero__Section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: auto;
    background-color: #9e9e9e;
} */